<?xml version="1.0" encoding="utf-8"?>
<mapper namespace="UserMapper">

    <select id="queryOneByUser" resultType="struct">
        SELECT
        *
        FROM
        `user`
        WHERE
        `user` = #{User}
        LIMIT 1
    </select>

    <update id="updateUserInfo">
        update `user`
        <set>
            <if test="Password != nil and Password != ''">
                password = #{Password}
            </if>
            update_time = now()
        </set>
        where `user` = #{User}
    </update>

</mapper>