<?xml version="1.0" encoding="utf-8"?>
<mapper namespace="LogMapper">

    <insert id="insertLog">
        insert into log (`user`, `type`, `ip`,`city`,`location`,`date`)
        values (#{User}, #{Type}, #{Ip},#{City},#{Location},now())
    </insert>

    <insert id="batchInsertLog">
        insert into log (`user`, `type`, `ip`,`city`,`location`,`date`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.User}, #{item.Type}, #{item.Ip},#{item.City},#{item.Location},now())
        </foreach>
    </insert>
</mapper>